.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem 0 3rem 0;
  width: 80%;
  max-width: 60rem;
  margin: 0 auto;
}

.mainTitle {
  font-size: 3.6rem;
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-weight: 400;
}

.subTitle {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

@media (max-width: 425px) {
  .titleContainer {
    align-items: flex-start;
  }
}
